.corner1 {
  z-index : -1;
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 16.2vw;
  height  : 19.2vh;
}

.corner2 {
  z-index  : -1;
  position : fixed;
  bottom   : 0;
  right    : 0;
  transform: rotate(-180deg);
  width    : 16.2vw;
  height   : 19.2vh;
}

.mainLogo {
  align-self : flex-end;
  display    : block;
  width      : 17.784375vw;
  height     : 32.9871931696905vh;
  margin-left: 9.375vw;
  margin-top: 8.0042689434365vh;
}

.layout1 {

  width         : 45%;
  display       : flex;
  flex-direction: column;
}

.layout2 {
  padding-right: 2.34375vw;
  justify-self  : end;
  width         : 55%;
  align-items   : end;
  display       : flex;
  flex-direction: column;
}

.logo {
  align-self: flex-end;
  width     : 11.09375vw;
  height    : auto;
  margin-top: 5.336179295624333vh;

}

.header1 {
  align-self : flex-end;
  right      : 0;
  font-family: Righteous;
  font-style : normal;
  font-weight: normal;
  font-size  : 3vw;

  color      : #FFFFFF;
}

ul {
  list-style: none;
}

.header2 {
  align-self : flex-end;
  font-family: Righteous;
  font-style : normal;
  font-weight: normal;
  font-size  :  10.375vw;


  color      : #FFFFFF;
}

.cardList {
  display    : flex;
  width      : 100%;
  height     : 100%;
  margin-left: 4.0625vw;
  position   : relative;
}

.cardBehind {
  position: absolute;
  width : 10.229166666666666vw;
  height: 28.240128068303093vh;
  left    : -0.9375vw;
  top     : 0;
  display : block;
  z-index : -1;
}

.CardBackside {
  width : 10.229166666666666vw;
  height: 28.240128068303093vh;
}

.TempScard {
  width : 10.229166666666666vw;
  height: 28.240128068303093vh;
  margin-right: 0.625vw;
}

.TempPcard {
  width : 10.229166666666666vw;
  height: 28.240128068303093vh;
  margin-right: 0.625vw;
}

.TempRcard {
  width : 10.229166666666666vw;
  height: 28.240128068303093vh;
}