ul {
  padding: 0;


}

.missionBox {
  margin-top      : 6.5vh;
  max-width       : 483px;
  width           : 23vw;
  height          : 23wh;
  max-height      : 250px;
  background-color: #555555;
  border          : 10px solid white;
  display         : block;
  padding         : 2%;
  box-sizing      : border-box;
}

.text {
  margin     : 0;

  font-size  : calc(1vw + 1vh );
  color      : #FFFFFF;
  font-family: Righteous;
}

.layout3 {

  padding-left  : 69px;
  width         : 45%;
  display       : flex;
  flex-direction: column;

}



.layout5 {
  justify-self: end;

  width         : 55%;
  align-items   : end;
  display       : flex;
  flex-direction: column;
}

.logoMain {
  align-self: flex-start;

  width     : 11vw;
  height    : auto;
  margin-top: 50px;


}


.container {

  padding-left: 15px;
  display     : flex;
  min-height: 90px;
  align-items: center;
  margin-top : 3.2vh;
  width      : 21vw;
  max-width  : 458px;
  height     : 8.5vh;

  position        : relative;
  background-color: #555555;
}

.playZone {
  margin-top: 60px;
}

.playzoneText {

  margin-left: 15px;
  font-size  : 2vw;
  color      : #FFFFFF;
  font-family: Righteous;
  text-align : center;


}

.container2 {

  position   : relative;
  margin     : 50px;
  align-items: center;
  display    : flex;
  gap        : 30px;

}


.menuLogo {

  width       : 456px;
  height      : 440px;
  justify-self: center;
  align-self  : center;

}

.progressBarContainer {
  margin-left     : 2vw;
  margin-right    : 2vw;
  border          : solid;
  border-width    : 4px;
  background-color: #C4C4C4;
  height          : 30px;

}

.progressBarLoad {

  background-color: #FFFFFF;
  width           : 75%;
  height          : 100%;


}

.cornerMenuPage {
  z-index  : -1;
  position : fixed;
  bottom   : 0;
  right    : 0;
  transform: rotate(-180deg);
  width    : 311px;
  height   : 180px;
}

.word {

  font-size      : 24px;
  color          : #FFFFFF;
  font-family    : Righteous;
  text-align     : start;
  justify-content: space-between;
  display        : flex;
  flex-direction : row;

}

.wordCorner {
  margin     : 15px;
  font-size  : calc(1vw + 1vh );
  color      : #FFFFFF;
  font-family: Righteous;
  position   : fixed;
  bottom     : 0;
  right      : 0;
}

.progressBarBox {
  align-self: center;
  width     : 38vw;
}