.playPage {
    width         : 100vw;
    display       : block;
    flex-direction: column;
    height        : 100vh;
    overflow      : hidden;
}

.layoutFirst {
    height         : 33%;
    justify-content: space-between;
    display        : flex;
    flex-direction : row;


}



.cornerCount {
    width      : 25%;
    height     : fit-content;
    font-family: Righteous;
    font-style : normal;
    font-weight: normal;
    font-size  : 1.5625vw;
    color      : #FFFFFF;
    margin     : 0.5208333333333334vw;

}

.enemyCardList {
    width    : max-content;
    height   : fit-content;
    display  : inline-flex;
    transform: translateY(-20%);
}

.card {
    margin: 0.2604166666666667vw;
    width : 8.229166666666666vw;
    height: 24vh;
}

.layoutSecond {
    height         : 33%;
    text-align     : center;
    font-family    : Righteous;
    font-style     : normal;
    font-weight    : normal;
    font-size      : calc(60% + 6vmin);
    color          : #FFFFFF;
    align-items    : center;
    justify-content: center;
    justify-self   : center;
    display        : flex;
    flex-direction : column;
    flex           : 1;
}

.layoutThird {
    height         : 33%;
    justify-content: space-between;
    align-items    : flex-end;
    display        : flex;
    flex-direction : row;
}





.user-card {
    width           : 25%;
    margin          : calc(0.5336179295624333vh + 0.2604166666666667vw);
    display         : flex;
    padding         : calc(0.5336179295624333vh + 0.2604166666666667vw);
    flex-direction  : column;
    background-color: #555555;
    min-height      : 40px;
    height          : 13.447171824973319vh;
    box-sizing      : border-box;
}

.user-info {
    padding-bottom: 1.0672358591248665vh;
    border-bottom : 0.5336179295624333vh solid #C4C4C4;
    font-family   : Righteous;
    font-style    : normal;
    font-weight   : normal;
    font-size     : calc(1.0672358591248665vh + 0.5208333333333334vw);
    color         : #fff
}

.user-hp {
    padding-top: 1.0672358591248665vh;
    font-family: Righteous;
    font-style : normal;
    font-weight: normal;
    font-size  : calc(1.0672358591248665vh + 0.5208333333333334vw);
    color      : #fff
}

.avt {
    width        : 2.34375vw;
    padding-right: 0.5208333333333334vw;
}

.user-card-2 {
    bottom          : 0;
    width           : 25%;
    margin          : calc(0.5336179295624333vh + 0.2604166666666667vw);
    display         : flex;
    padding         : calc(0.5336179295624333vh + 0.2604166666666667vw);
    flex-direction  : column;
    background-color: #555555;
    min-height      : 40px;
    height          : 13.447171824973319vh;
    box-sizing      : border-box;
}




.userCardList {
    width    : max-content;
    height   : fit-content;
    display  : inline-flex;
    transform: translateY(20%);
}

.removePlace {
    justify-content: space-between;
    display        : flex;
    flex-direction : row;
    width          : 25%;
}

.removeCard {

    margin-bottom: 1.0672358591248665vh;
    text-align   : center;
    width        : 7.5vw;
    height       : 25.5vh;
    border       : solid;
    border-color : #fff;
    border-width : calc(0.21344717182497333vh + 0.10416666666666667vw);
    border-radius: 1.0416666666666667vw;
    font-family  : Righteous;
    font-style   : normal;
    font-weight  : normal;
    font-size    : calc(1.6008537886873vh + 0.78125vw);
    color        : #FFFFFF;


}
@media screen and  (max-height:320px) {
    .removeCard {
        height: 70px;
        width : 45px;
    }
}

@media screen and (min-height: 374px) and (max-height:414px) {
    .removeCard {
        height: 100px;
        width : 60px;
    }
}

@media screen and (min-height: 414px) and (max-height:414px) {
    .removeCard {
        height: 100px;
    }
}

@media screen and (min-height: 600px) and (max-height:675px) {
    .removeCard {
        height: 110px;
        width : 70px;
        font-size: 14px;
    }
}

@media screen and (min-height: 675px) and (max-height:767px) {
    .removeCard {
        height: 120px;
    }
}

@media screen and (min-height: 767px) and (max-height:800px) {
    .removeCard {
        height: 150px;
        width : 95px;
    }
}
@media screen and (min-width: 850px) and (max-width:1240px) {
    .removeCard {
        height: 170px;
        width: 100px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1240px) and (max-width:1400px) {
    .removeCard {
        height: 170px;
        width: 100px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1400px) and (max-width:1590px) {
    .removeCard {
        height: 200px;
        width: 120px;
        font-size: calc(1.6008537886873vh + 0.78125vw);
    }
}

@media screen and (min-width: 1590px) {
    .removeCard {
        height: 220px;
        width : 140px;
        font-size: calc(1.6008537886873vh + 0.78125vw);
    }

}





.removeCard span {
    display  : block;
    position : relative;
    top      : 50%;
    transform: translateY(-50%);
}

.supportIcon {
    max-width   : 2.34375vw;
    height      : auto;
    align-self  : flex-end;
    justify-self: end;
    padding     : 3%;



}