.root {
  width: 100vw;
  height: 100vh;
}

.App { 
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  padding: 45px;
  box-sizing: border-box;
}
body {
  background-color: #2F2F2E;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.corner1 {
  display: block;
  position: absolute;
  width: 311px;
  height: 180px;
  left: -15px;
  top: 0px;
  z-index: -1;
}

.corner2 {
  display: block;
  position: absolute;
  width: 311px;
  height: 180px;
  right: 0px;
  bottom: 0px;
  transform: rotate(-180deg);
}

.mainLogo {
  align-self: flex-end;
  display: block;
  width: 341.46px;
  height: 309.09px;
  margin-left: 180px;
}

.layout1 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.layout2 {
  width: 40%;
  display: flex;
  flex-direction: column;
}



.logo {
  align-self: flex-end;
  width: 143px;
  height: 58px;
  left: 1662px;
  top: 45px;
}

.header1 {
  align-self: flex-end;
  left: 1160px;
  top: 206px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 79px;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

.header2 {
  align-self: flex-end;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 84px;
  line-height: 159px;
  color: #FFFFFF;
}

.cardList {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 78px;
  position: relative;
}

.cardBehind {
  position: absolute;
  width: 258px;
  height: 384.61px;
  left: -18px;
  top: 0;
  display: block;
  z-index: -1;
}

.CardBackside {
  width: 158px;
  height: 264.61px;
}

.TempScard {
  width: 158px;
  height: 264.61px;
  margin-right: 12px;
}

.TempPcard {
  width: 158px;
  height: 264.61px;
  margin-right: 12px;
}

.TempRcard {
  width: 158px;
  height: 264.61px;
}