
.layout3 {

  width: 60%;
  display: flex;
  flex-direction: column;
}

.layout4 {

  width: 50%;
  display: flex;
  flex-direction: column;
}

.logoMenuPage
{
  align-self: flex-start;
  display: block;
  width: 150;
  height: 45;
 padding-left: 69px;
 padding-top: 53px;


}
